@use 'theme.scss';

@mixin fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.stage {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  z-index: -1;
}

.hud {
  font-family: 'Press Start 2P', cursive;
  margin-left: 1em;
  user-select: none;
  z-index: 2;
}

.app-container {
  @include fullscreen();
  background-color: theme.$dark-gray;
  color: theme.$white;
}
